{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(AddPlante) }}
    {{ form_widget(AddPlante) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(AddPlante) }}

{% endblock %}