{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(AddZone) }}
    {{ form_widget(AddZone) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(AddZone) }}

{% endblock %}